@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
}

body{
    background: rgb(121,9,115);
    background: linear-gradient(90deg, 
    rgba(121,9,115,1) 0%, rgba(58,136,214,1) 52%, 
    rgba(193,69,209,1) 100%);
}

.container{
    color: white;
    padding: 10%;
    padding-bottom: 9%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 500px;
    max-height: 200px;
    border-radius: 18px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contents{
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: first baseline;
}

.logo{
    font-size: 30px;
    margin-right: 120px;
    font-weight: 1000;
}

.links{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    list-style: none;
}

a{
    padding: 0px 8px;
    color: white;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

a:active{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(213, 60, 252);
}

button{
    height: 60px;
    width: 200px;
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    border-style: solid;
}

button:hover{
    border-color: rgb(213, 60, 252);
    background-color: rgb(213, 60, 252);
}

.palico{
    width: 40%;
    height: auto;
    margin-left: 310px;
    margin-top: -170px ;
}
.infos{
    margin-right: 200px;
}

.small-infos{
    display: flex;
    align-items: last baseline;

}

